.InteractiveButtons {
  width: 90%;
  height: 50px;
  padding: 10px;
  display: grid;
  margin-top: 10px;
  grid-template-columns: auto 30%;
  margin: auto;
  .AddInteractive {
    float: right;
    margin-left: auto;
    width: 120px;
  }
}
.ButtonsInteractive {
  display: grid;
  grid-template-rows: auto auto;
}
.primary {
  padding: 10px 16px;
  margin-right: 6px;
  background-color: #ff6e30;
  border: 2px solid #ff6e30;
  border-radius: 8px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.saveAndReload {
  display: grid;
  grid-template-columns: 120px 120px;
  grid-column-gap: 20px;
}
button,
.btn {
  min-width: 120px;
  padding: 10px 16px;
  margin-right: 6px;
  background-color: transparent;
  border: 2px solid #ddd;
  border-radius: 8px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease;
  height: 40px;
}
select {
  -webkit-appearance: none;
  min-width: 120px;
  padding: 10px 16px;
  margin-right: 6px;
  background-color: transparent;
  border: 2px solid #ddd;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.2s ease;
}
.newButtons {
  display: grid;
  grid-template-columns: auto;
  width: 120px;
  margin-left: auto;
  padding: 5px;
}
.NextAndBack {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 130px auto 130px;
  button:nth-child(1) {
    float: left;
  }
  button:nth-child(2) {
    float: right;
  }
  h2 {
    color: white;
  }
}
