.InteractiveButtons {
  width: 100%;
  height: 50px;
  padding: 10px;
  display: grid;
  margin-top: 10px;
  grid-template-columns: 80% 20%;
}
.primary {
  padding: 10px 16px;
  margin-right: 6px;
  background-color: #ff6e30;
  border: 2px solid #ff6e30;
  border-radius: 8px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.AddInteractive {
  float: right;
  width: 120px;
}
.saveAndReload {
  display: grid;
  grid-template-columns: 120px 120px;
  grid-column-gap: 20px;
}
button,
.btn {
  min-width: 120px;
  padding: 10px 16px;
  margin-right: 6px;
  background-color: transparent;
  border: 2px solid #ddd;
  border-radius: 8px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease;
  height: 40px;
}
select {
  -webkit-appearance: none;
  min-width: 120px;
  padding: 10px 16px;
  margin-right: 6px;
  background-color: transparent;
  border: 2px solid #ddd;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.2s ease;
}
.newButtons{
    display: grid;
    grid-template-columns: auto;
    width: 120px;
}